<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <test name="Parallel" parallel="classes" thread-count="5">
        <classes>
            <class name="Day1.tests.Assignment1.CreateLead"/>
            <class name="Day1.tests.Assignment1.EditLead"/>
            <class name="Day1.tests.Assignment1.MergeLead"/>
            <class name="Day1.tests.Assignment1.DuplicateLead"/>
            <class name="Day1.tests.Assignment1.DeleteLead"/>
        </classes>
    </test>
</suite> <!-- Suite -->